/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-800 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
         url('../fonts/open-sans-v17-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    margin: 0 auto; padding: 0;
    width: 100%;
    max-width: 1140px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #183B56;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #5A7184;
    padding: 0; margin: 0;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #575757;
    padding: 0; margin: 0;
}

span.head{
    color: white;
    font-size: 22px;
}

.fa, .fas{
    margin-left: 15px;
    font-size: 14px;
}
span.heading2{
    color: white;
}
.main-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    background: url(../images/Background.svg)  50% 0% no-repeat;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logo span{
    color: white;
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
}

.nav li{
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    padding-left: 40px;
    z-index: 1;
}

.nav li a{
    color: white;
    
}

.menu ul li:last-child {
    padding: 10px 20px;
    margin: 40px;
    border: 2px solid white;
    border-radius: 8px;
}

.hero{
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > div{
    padding-top: 40px;
}

.heading {
    margin-bottom: -50px;
    text-align: center;
    color: white;
}

.heading2 {
    text-align: center;
    color: white;
}

.button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-block.in-hero-block{
    width: 400px;
}

.button-block a{
    padding-right: 15px;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;

}

.button-block a::after{
    content: "\f061";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;

}


.features-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.titles-block{
    display: flex;
    flex-direction: column;
    max-width: 740px;
    align-items: center;
    justify-content: center;
}

.items-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.features-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 270px;
    padding: 10px 25px;
}

.badget span{
    color: #1565D8;
    padding: 5px 20px;
    background-color:rgba(21, 101, 216, 0.1);
    border-radius: 50px;
    text-transform: uppercase;
}

.features-heading1 h2{
    color: #183B56;
    font-size: 24px; 
}

.features-heading1 h3{
    text-align: center;
    color: #5A7184;
}

.icon-block img{
    max-width: 64px;
}

.description-block{
    text-align: center;
}

.button-block.feature a{
    color: #1565D8;
}


.analytics-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    background: url(../images/analyticsAndFeatures_background.png) 50% 0% no-repeat;
    margin-bottom: 100px;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.analytics{
    display: flex;
    flex-direction: row;
}

.image-column{
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
}

.text-column{
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    
}

.text-block.analytics{
    display: flex;
    flex-direction: column;
}

.items-block.analytics{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.analytics-item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    align-items: flex-start;
    overflow: hidden;
}

.analytics-item:first-child{
    margin-right: 20px;
}

.button-block.analytics{
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.button-block.analytics a{
    background-color: #1565D8;
    color: white; 
}

.description-block.analytics{
    text-align: start;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.analytics-screen::after{
    content: ' ';
    height: 100px;
}

.text-block.features{
    display: flex;
}

.badget.features span{
    color: #36b37e;
    background-color:rgba(54, 179, 126, 0.1);
}

.items-block.feature-analytics{
    display: flex;
    flex-direction: row;
}

.features-item.analytics{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 33%;
}

.icon-block.analytics{
    display: flex;
    margin-right: 25px;
}

.description-block.analytics{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.collaborate-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

ul.targets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding: 0;
}
li.target{
    margin: 30px 30px 0 0;
    list-style-type: none;
}

li.target span{
color: #183B56;
font-size: 16px;
line-height: 20px;
font-family: 'Roboto', sans-serif;
}

li.target span::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 14px;
    margin-right:  15px;
    color: #36b37e;
    background-color:rgba(54, 179, 126, 0.1);
    border-radius: 50%;
    padding: 8px;
}

.text-block.collaborate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.image-block.collaborate{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.badget.collaborate span{
    color: #36b37e;
    background-color:rgba(54, 179, 126, 0.1);
}

.integration-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/Integration.png) 50% 50% no-repeat;
    margin-top: 100px;
    min-height: 650px;
}

.text-block.integration {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    min-height: 475px;
    max-width: 1140px;
}

.reviews-screen-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.company-block.review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.company-reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card-review{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
}

.card-review:first-child{
    border-right: 1px solid #E5EAF4;
    margin-right: 40px;
}

.company-member{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.member-member-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.member-name.name{
    margin-bottom: 5px;
}

.company-icon, .company-text, .company-member{
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}
.company-text{
    padding-right: 20px;
}

.member-icon{
    margin-right: 20px;
}

.member-position span{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: #575757;
    padding: 0; margin: 0;
}

.member-position span::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 8px;
    margin-right:  10px;
    color: #36b37e;
    background-color:rgba(54, 179, 126, 0.1);
    border-radius: 50%;
    padding: 6px;
}

.pricing-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../images/backg_price.png) 50% 0% no-repeat;
    padding-top: 150px;
}


.prices-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.price-item{
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 50px 15px;
}
.price-target{
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
}
.price-item.first{
    border-top: 3px solid #183B56;
}
.price-item.second{
    border-top: 3px solid #36B37E;
}
.price-item.third{
    border-top: 3px solid #1565D8;
}

.price span.price1{
    color: #183B56;
    font-size: 35px;
}
.price span.price2{
    color: #36B37E;
    font-size: 35px;    
}
.price span.price3{
    color: #1565D8;
    font-size: 35px;    
}

.price span.per{
    color: #5A7184;
}

.price-button{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-basis: 100%;
    margin-top: 20px;
    width: 100%;
}

.price-button.button-block a{
    color: #1565D8;
    border: 2px solid #1565D8;
    width: 100%;
    text-align: start;
}

.price-button.button-block a::after{
    float: right;
}

.footer{
    display: grid;
    justify-items: center;
    align-items: baseline;
    grid-template: auto / 2fr repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    margin-bottom: 100px;
    border-top: rgba(21, 101, 216, 0.5);
}
ul.footer{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

ul.footer li a{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #183B56;
}

.footer-menu-items.first a{
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 70%;
}

span.footer-logo{
    color: #1565D8;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
}

span.heading{
    color: #5A7184;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}